{% extends "web/components/base.html" %}
{% load static %}
{% load wallet_extras %}

{% block content %}

    <!--suppress HtmlUnknownTarget, XmlInvalidId -->
    <div id="dashboard" class="triangle-content">
     <div class="container">
            {# message box #}
            <div class="row">
                <div class="col s12">
                    {% include 'web/components/message_box.html' %}
                </div>
            </div>

            <div class="row">
                <div class="col s12 content">
                    <div class="row">
                        <div class="col s12 m4 offset-m4 card horizontal" id="balance-card">
                            <div class="card-content center-align">
                                <span class="card-title">Balance</span>
                                <p class="user-balance">{{ balance | stellar_display_format }}</p>
                                <div class="updating">
                                    updating...
                                </div>
                                <p class="user-mail">{{ request.user.email }}</p>
                            </div>
                            <div class="card-image">
                                <img src="{% static 'web/img/stellar-rocket-300.png' %}" alt="Stellar Lumen Logo">
                            </div>
                        </div>
                    </div>
                    <div class="row recent-transactions">
                        <h1>Recent Transactions</h1>

                        <div id="transaction-ready-container">
                            {% include 'web/components/transaction_list.html' with transactions=transactions %}
                        </div>

                        <div class="progress transactions-update">
                            <div class="indeterminate"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script>
        $(document).ready(function () {

            $('.button-collapse').sideNav({
                menuWidth: '300px',
                closeOnClick: true,
                draggable: true,
                edge: 'right',
            });

            // fetch balance
            window.bundle.fetchBalance(function (balanceJson, error) {

                if (error != null) {
                    window.bundle.showMessageBox('Error while fetching balance.', 'error');
                    return
                }

                console.log('fetched balance ' + JSON.stringify(balanceJson));
                $('.user-balance').text(balanceJson['formatted']);
                $('#balance-card').find('.updating').hide();
            });

            // fetch transactions
            const progessIndicator = $('.transactions-update');
            window.updateTransactionPage = function (page, cached) {

                progessIndicator.fadeIn(200);

                window.bundle.fetchDashboardTransactions(page, cached, function (transactionsHtml, error) {

                    if (error != null) {
                        window.bundle.showMessageBox('Error while fetching transactions.', 'error');
                        return
                    }

                    // append list of transactions
                    $('#transaction-ready-container').html(transactionsHtml);

                    // show in UI
                    progessIndicator.fadeOut(200);

                    window.bundle.initCollapsible();
                });

                return false;
            };

            window.updateTransactionPage(1, false);

            {% if message %}
                // show message
                window.bundle.showMessageBox('{{ message }}', '{{ message_type|default:"info" }}');
            {% endif %}
        });
    </script>
{% endblock %}