{% extends "web/components/base.html" %}

{% load static %}

{% block content %}

    <div id="deposit-page" class="triangle-content">

        {# message box #}
        <div class="row">
            <div class="col s6 offset-s3">
                {% include 'web/components/message_box.html' %}
            </div>
        </div>

        <h1>Deposit.</h1>

        <div class="address-container">
            <div id="loading-container">
                <p>Your address is beeing generated...</p>
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
            </div>
            <div id="ready-container" style="display: none;">
                {% if disabled %}
                    <p>Deposits are currently disabled.</p>
                {% else %}
                    <p>Please sent Lumen to the following address in order to play with them on Zėndi.</p>
                    <p class="address">{{ deposit_address }}</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_scripts %}
    <script>

        console.log('Fetching address...');
        window.bundle.fetchDepositAddress(function (newAddress, error) {

            if (error != null) {
                window.bundle.showMessageBox('Error while fetching address', 'error');
                return
            }

            // show new address container
            $('#ready-container').find('.address').text(newAddress);
            $('#loading-container').hide(400, function () {
                $('#ready-container').fadeIn();
            });
        });
    </script>
{% endblock %}