{% extends "web/components/base.html" %}

{% load static %}

{% block content %}

    <div id="deposit-page" class="triangle-content">
        <h1>Deposit.</h1>

        <div class="address-container">
            <div id="loading-container">
                <p>Your address is beeing generated...</p>
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
            </div>
            <div id="ready-container" style="display: none;">
                <p>Please sent IOTA to the following address in order to play with them on Zėndi.</p>
                <p class="address">{{ deposit_address }}</p>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_scripts %}
    <script>

        console.log('Fetching address...');
        window.bundle.fetchNewAddress(function (newAddress) {
            // show new address container
            $('#ready-container').find('.address').text(newAddress);
            $('#loading-container').hide(400, function () {
                $('#ready-container').fadeIn();
            });
        });
    </script>
{% endblock %}