    {% extends "web/components/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}

    <div id="send-tokens-exec-page" class="triangle-content">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h2 class="center">Sending Tokens</h2>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m8 offset-m2 center">
                    <p>You are sending {{ amount_with_unit }} to {{ receiver_mail|join:"" }}.</p>
                    <p class="progress-message">Sending transaction to ledger...</p>
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>
                </div>
            </div>



        </div>
    </div>

{% endblock %}

{% block custom_scripts %}
    <script>
        window.bundle.triggerTransactionExecution();
        window.history.replaceState( {} , 'Dashboard', '/');

        $('.button-collapse').sideNav({
            menuWidth: '300px',
            closeOnClick: true,
            draggable: true,
            edge: 'right',
        });

    </script>
{% endblock %}
