{% extends "wallet/components/base.html" %}

{% load static %}

{% block content %}

    <!--suppress HtmlUnknownTarget, XmlInvalidId -->
    <div id="landing-page" class="triangle-content">

        <h1>Exchange IOTA<br>with joy.</h1>

        <form id="send-form" action="/send-tokens" novalidate autocomplete="off" method="post">
            <div class="row">
                <div class="col s12 l12">

                    {% csrf_token %}

                    {{ form.non_field_errors }}

                    {% if user.is_authenticated %}
                        {# ################################################################# #}
                        {# ###### Show sender email for authenticated users ###### #}
                        {# ################################################################# #}
                        {{ form.sender_mail.as_hidden }}

                    {% else %}
                        {# ################################################################# #}
                        {# ###### Show sender email depending for public users ###### #}
                        {# ################################################################# #}
                        <div class="row">
                            <div class="col s12 l12">
                                <div class="input-field">
                                    <label for="{{ form.sender_mail.id_for_label }}">Your email</label>
                                    {{ form.sender_mail }}
                                    {{ form.sender_mail.errors }}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col s12 l12">
                            <div class="input-field">
                                <label for="{{ form.receiver_mail.id_for_label }}">Send to email</label>
                                {{ form.receiver_mail }}
                                {{ form.receiver_mail.errors }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s6 l6">
                            <div class="input-field">
                                <label for="{{ form.amount.id_for_label }}">Amount</label>
                                {{ form.amount }}
                                {{ form.amount.errors }}
                            </div>
                        </div>
                        <div class="col s2 l2" id="unit-select">
                            <div class="input-field">
                                {{ form.unit }}
                            </div>
                        </div>
                        <div class="col s1 l1">
                            <i class="fa fa-long-arrow-right fa-lg exchange" aria-hidden="true"></i>
                        </div>
                        <div class="col s3 l3">
                            <div class="input-field fiat-amount">
                                <input type="text" value="0 USD" name="fiat-amount" id="fiat_amount" min="0.000001"
                                       step="any" required="" readonly>
                            </div>
                        </div>
                    </div>
                    {#  Message field is hidden for now, due to simplicity reasons #}
                    {{ form.message.as_hidden }}
                    {#                    <div class="row">#}
                    {#                        <div class="col s12">#}
                    {#                            <div class="input-field">#}
                    {#                                <label for="{{ form.message.id_for_label }}">Message (optional)</label>#}
                    {#                                {{ form.message }}#}
                    {#                                {{ form.message.errors }}#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    <div class="row">
                        <div class="col s12 center">
                            <button class="btn btn-large btn-flat waves-effect waves-dark white-text"
                                    id="send-tokens"
                                    type="submit">Send
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            {% include 'wallet/components/message_box.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
{% endblock %}


{% block custom_scripts %}
    <script>

        $(document).ready(function () {

            const unitMap = {
                'i': 10 ** 1,
                'Ki': 10 ** 3,
                'Mi': 10 ** 6,
                'Gi': 10 ** 9,
                'Ti': 10 ** 12,
                'Pi': 10 ** 15
            };

            function updateFiat(price_usd) {

                const iota_amount = Number($('#id_amount').val());
                const iota_unit_factor = unitMap[$('#id_unit').val()];
                const normalized_price = Number(price_usd / unitMap['Mi']);  // original price is in Mi

                const usd_value = iota_amount * iota_unit_factor * normalized_price;
                console.log('updating viat value');

                $('#fiat_amount').val(Math.round(usd_value * 100) / 100 + ' USD');
            }

            $.getJSON('https://api.coinmarketcap.com/v1/ticker/iota/', function (json_ticker) {

                const price_usd = json_ticker[0].price_usd;
                console.log('Fetched IOTA ticker price: ' + price_usd + ' USD/Mi');

                $('.select-dropdown').on('classChange', function () {
                    updateFiat(price_usd)
                });

                $('#id_amount').on('input propertychange paste', function () {
                    updateFiat(price_usd);
                });
            });
        });
    </script>
{% endblock %}