{% extends "wallet/components/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}

    <div id="send-tokens-exec-page" class="triangle-content">

        <h1>Sending Tokens</h1>

        <div class="progress-container">
            <p>You are sending {{ amount_with_unit }} to {{ receiver_mail|join:"" }}.</p>
            <p class="progress-message">Attaching transaction to Tangle...</p>
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>

    </div>

{% endblock %}

{% block custom_scripts %}
    <script>
        window.bundle.triggerTransactionExecution();
        window.history.replaceState( {} , 'Dashboard', '/');
    </script>
{% endblock %}
