{% extends "wallet/components/base.html" %}

{% load static %}

{% block content %}

<!--suppress HtmlUnknownTarget, XmlInvalidId -->
<div id="dashboard">

    <h1>Zėndi Dashboard</h1>

    <div class="row">
        <div class="col s8 offset-s2 content">
            <div class="row">
                <div class="col s4 offset-s4 card horizontal" id="balance-card">
                    <div class="card-content center-align">
                        <span class="card-title">Balance</span>
                        <p>40 Mi IOTA</p>
                    </div>
                    <div class="card-image">
                        <img src="{% static 'wallet/img/iota-logo.png' %}" alt="IOTA Logo">
                    </div>
                </div>
            </div>
            <div class="row recent-transactions">
                <h1>Recent Transactions</h1>
                <ul class="collapsible collapsible-accordion transactions" data-collapsible="accordion">
                    <li class="transaction">
                        <div class="collapsible-header row">
                            <div class="col s1 icon"><i class="material-icons">call_received</i></div>
                            <div class="col s3">j.innerbichler@gmail.com</div>
                            <div class="col s3">18.5.2017 01:10PM</div>
                            <div class="col s2">3 Mi IOTA</div>
                            <div class="col s2 left-align"><span class="new badge" data-badge-caption="">Complete</span>
                            </div>
                            <div class="col s1"></div>
                        </div>
                        <div class="collapsible-body" style="display: none;">
                            from<span class="address">j.innerbichler@gmail.ccom-</span>
                        </div>
                    </li>
                    <li class="transaction">
                        <div class="collapsible-header row">
                            <div class="col s1 icon"><i class="material-icons">call_made</i></div>
                            <div class="col s3">j.innerbichler@gmail.com</div>
                            <div class="col s3">18.5.2017 01:10PM</div>
                            <div class="col s2">3 Mi IOTA</div>
                            <div class="col s2 left-align"><span class="new badge" data-badge-caption="">Complete</span>
                            </div>
                            <div class="col s1"></div>
                        </div>
                        <div class="collapsible-body" style="display: none;">
                            from<span class="address">j.innerbichler@gmail.ccom-</span>
                        </div>
                    </li>
                    <li class="transaction">
                        <div class="collapsible-header row">
                            <div class="col s1 icon"><i class="material-icons">call_received</i></div>
                            <div class="col s3">j.innerbichler@gmail.com</div>
                            <div class="col s3">18.5.2017 01:10PM</div>
                            <div class="col s2">3 Mi IOTA</div>
                            <div class="col s2 left-align"><span class="new badge" data-badge-caption="">Complete</span>
                            </div>
                            <div class="col s1"></div>
                        </div>
                        <div class="collapsible-body" style="display: none;">
                            from<span class="address">j.innerbichler@gmail.ccom-</span>
                        </div>
                    </li>
                </ul>
                <!--<table class="responsive-table highlight">-->
                <!--<thead>-->
                <!--<tr>-->
                <!--<th>Receiver</th>-->
                <!--<th>Date</th>-->
                <!--<th>Volume</th>-->
                <!--<th>Status</th>-->
                <!--</tr>-->
                <!--</thead>-->

                <!--<tbody>-->
                <!--<tr>-->
                <!--<td>Alvin</td>-->
                <!--<td>Eclair</td>-->
                <!--<td>$0.87</td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td>Alan</td>-->
                <!--<td>Jellybean</td>-->
                <!--<td>$3.76</td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td>Jonathan</td>-->
                <!--<td>Lollipop</td>-->
                <!--<td>$7.00</td>-->
                <!--</tr>-->
                <!--</tbody>-->
                <!--</table>-->
            </div>
        </div>
    </div>

</div>
{% endblock %}