#deposit-page {

  color: $primary-color;

  p {
    font-size: 1.5em;
    font-weight: 300;
    word-wrap: break-word;
  }

  .address {
    font-weight: 400;
    font-size: 1em;
  }

  #loading-container .progress {
    width: 50%;
    left: 25%;
  }

  #message-box {
    position: absolute;
    top: 60px;
    right: 80px;
  }
}
