#landing-page {
  .row {
    margin-bottom: 0;
  }

  #send-form {
    .exchange {
      color: $primary-color;
      margin-top: 30px;
    }

    .fiat-amount {
      color: $primary-color;
      font-size: 1.0em;

      input {
        font-size: 1.5em;
        border-bottom: 0;
      }
    }
  }

  @media screen and (min-width: 600px) {
    input {
      font-size: 2.5em;
    }
  }

  @media screen and (max-width: 600px) {
    input {
      font-size: 1.5em;
    }
  }
}

#features {
  h2 {
    margin-bottom: 0;
  }

  h3 {
    margin-top: 15px;
    margin-bottom: 25px;
    line-height: 130%;
  }

  .feature-icon {
    max-height: 100px;
  }

  .feature-title {
    margin: 2rem 0 .5rem;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1;
  }

  .feature-description {
    font-size: 1.25rem;
    color: #bdbdbd;
  }

  .row {
    margin-top: 50px;
  }
}


#contact {
  @media screen and (min-width: 600px) {
    input, textarea {
      font-size: 2.5em;
    }
  }

  @media screen and (max-width: 600px) {
    input, textarea {
      font-size: 1.5em;
    }
  }
}
