#send-tokens-exec-page {
  color: $primary-color;

  p {
    font-size: 1.5em;
    font-weight: 300;
    word-wrap: break-word;
  }

  .progress-message {
    font-weight: 300;
    font-size: 1em;
    margin-bottom: 0;
  }

  .progress {
    width: 50%;
    left: 25%;
  }
}