#send-tokens-exec-page {

  .progress-container {
    position: absolute;
    top: 40%;
    left: 15%;
    width: 70%;
    text-align: center;
    color: white;
    font-size: 2.0em;
    font-weight: 300;
  }

  .progress-message {
    font-weight: 300;
    font-size: 0.5em;
    margin-bottom: 0;
  }

  .progress {
    width: 50%;
    left: 25%;
  }
}