//noinspection CssRedundantUnit
#withdraw-page {

  #withdraw-form {
    .exchange {
      color: $primary-color;
      margin-top: 30px;
    }

    .fiat-amount {
      color: $primary-color;
      font-size: 1.0em;

      input {
        font-size: 1.5em;
        border-bottom: 0;
      }
    }
  }

  .progress {
    left: 40%;
    width: 20%;
    margin: 0;
    background: transparent;

    .indeterminate {
      background-color: white;
    }
  }

  @media screen and (min-width: 600px) {
    input {
      font-size: 2.5em;
    }
  }

  @media screen and (max-width: 600px){
    input {
      font-size: 1.5em;
    }
  }
}

