.main {

  min-width: 1400px;

  h1 {
    font-size: 4.5em;
  }
}

.input-field {
  color: $primary-color;

  .select-wrapper span.caret {
    color: white;
  }

  input {
    padding: 0 0 7px 10px !important;
    font-weight: 300;
  }

  label {
    padding-left: 7px;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}

.btn-flat:hover {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: none;
}

.brand-logo {
  .appendix {
    text-transform: none;
    font-weight: 100;
  }
  img {
    height: 25px;
    width: auto;
  }
}

#message-box {
  margin-top: 20px;
  background-color: color("blue", "base");
  opacity: 0.90;

  .close {
    cursor: pointer;
  }

  &.info {
    background-color: color("green", "base");
  }

  &.error {
    background-color: color("red", "base");
  }
}

.triangle-content {
  h1 {
    top: 30%;
    font-size: 4.5em;
  }
}

.progress {
  background-color: white;
  height: 1px;
  .indeterminate {
    background-color: lightcoral;
  }
}

footer {
  color: black;

  a {
    color: black;
  }

  i {
    font-size: 1em !important;
  }
}

.pagination {
  text-align: center;
  li {

    a {
      color: white !important;
    }

    &.active {
      background-color: rgba(0, 0, 0, 0.1);
      box-shadow: none;
    }
  }
}

#demo-notifier {
  bottom: 0;
  height: 30px;
  display: block;
  background: color('orange', 'lighten-2');

  .bold {
    font-weight: bold;
  }

  p {
    text-align: center;
    margin-top: 1px;

  }
}