.main {
  h1 {
    font-size: 4.5em;
  }
}

.input-field {
  color: $primary-color;

  .select-wrapper span.caret {
    color: white;
  }

  input {
    padding: 0 0 7px 10px !important;
    font-weight: 300;
  }

  label {
    padding-left: 7px;
  }
}

.btn-flat:hover {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: none;
}

.brand-logo {
  .appendix {
    text-transform: none;
    font-weight: 100;
  }
}

#message-box {
  margin-top: 20px;
  background-color: color("blue", "base");
  opacity: 0.95;

  .close {
    cursor: pointer;
  }

  &.info {
    background-color: color("green", "base");
  }

  &.error {
    background-color: color("red", "base");
  }
}

.triangle-content {
  h1 {
    top: 30%;
    font-size: 4.5em;
  }
}

.progress {
  background-color: white;
  height: 1px;
  .indeterminate {
    background-color: lightcoral;
  }
}