$output-bourbon-deprecation-warnings: false; // disable warning till v.5.0 is released.
@import '../../node_modules/bourbon/app/assets/stylesheets/bourbon';

//import Materialize
$roboto-font-path: "../../node_modules/materialize-css/dist/fonts/roboto/";
$input-border: 1px solid white;
$input-focus-color: white;
@import '../../node_modules/materialize-css/sass/materialize';

// import components of Nas theme
@import 'components/variables';
@import 'components/global';
@import 'components/typography';
@import 'components/helpers';
@import 'components/nav';
@import 'components/blocks';
@import 'components/spinner';
@import 'components/triangles';
@import 'components/gradients';
@import 'components/services';
@import 'components/posts';
@import 'components/footer';
@import 'components/slider';
@import 'components/modal';
@import 'components/toasts';
@import 'components/form';

// application specific styles
@import 'common';
@import 'pages/landing';
@import 'pages/dashboard';
@import 'pages/deposit.scss';
@import 'pages/login';

