.triangles {
    position: relative;
    width: 100%;
}

@media screen and (max-width: 600px){
    .triangles {
        height: 750px;
    }
}

@media screen and (min-width: 600px){
    .triangles {
        height: 900px;
    }
}