{% load static %}

<!-- Footer-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col s4 l4 offset-l2 margin-on-medium-and-down">
                <p>&copy; 2017 Zėndi</p>
            </div>
        </div>
        <div class="row">
            <div class="col s4 l4 offset-l2 margin-on-medium-and-down">
                <ul>
                    <li>
                        Made with <i class="fa fa-heart" aria-hidden="true"></i> by
                    </li>
                    <li>
                        Johannes Innerbichler
                    </li>
                    <li>
                        <a class="underline" href="mailto:j.innerbichler@gmail.com">j.innerbichler@gmail.com</a>
                    </li>
                </ul>
            </div>
            <div class="col s4 l4 offset-l2 margin-on-medium-and-down">
                <ul>
                    <li>
                        <a class="underline" href="https://www.facebook.com/johannes.innerbichler">Facebook</a>
                    </li>
                    <li>
                        <a class="underline" href="https://twitter.com/InnerbichlerJ">Twitter</a>
                    </li>
                    <li>
                        <a class="underline" href="https://github.com/jinnerbichler/">Github</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>