{% load static %}

{# Feedback #}
<a id="gaf-button" class="modal-trigger" href="#feedback-modal">Feedback</a>
<div id="feedback-modal" class="modal">
    <div class="modal-content">
        <h4>Thank you for your Feedback!</h4>
        <div class="row feedback-body">
            <form id="feedback-form" class="col s12">

                {% csrf_token %}
                {{ form.media }}

                <div class="row">
                    <div class="input-field col s12">
                        <label for="feedback-message">Message:</label>
                        <textarea id="feedback-message" name="message" class="materialize-textarea"
                                  placeholder="Your feedback"></textarea>
                    </div>
                </div>
                <div class="row last-row">
                    <div class="input-field col s12">
                        <label for="feedback-email">Email:</label>
                        <input id="feedback-email" name="email" placeholder="Your email" type="email">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a id="feedback-cancel-btn" href="#!"
           class="modal-action waves-effect waves-green btn-flat">Cancel</a>
        <a id="feedback-send-btn" href="#!"
           class="modal-action waves-effect waves-green btn-flat">Send</a>
    </div>
</div>

<!-- Footer-->
<footer>

    {% if DEMO_MODE %}
        <div id="demo-notifier" class="modal bottom-sheet">
            <p>Zėndi is running in <span class="bold">demo mode.</span> All transactions are executed on the
                <span class="bold">testnet</span>.</p>
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col s6 margin-on-medium-and-down">
                <p>&copy; 2018 Zėndi</p>
            </div>
        </div>
        <div class="row">
            <div class="col s6 l6 margin-on-medium-and-down">
                <ul>
                    <li>
                        Made with <i class="fa fa-heart" aria-hidden="true"></i> by zendi.org
                    </li>
                    <li>
                        <a class="underline"
                           href="mailto:office@zendi.org">office@zendi.org</a>
                    </li>
                </ul>
            </div>
            <div class="col s2 offset-s2 margin-on-medium-and-down">
                <ul>
                    <li>
                        <a class="underline" href="https://twitter.com/InnerbichlerJ">Twitter</a>
                    </li>
                    <li>
                        <a class="underline" href="https://github.com/jinnerbichler/">Github</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>