{% load static %}

<head>

    {% if not DEV_MODE %}
        {% if DEMO_MODE %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113934665-2"></script>
            <script>
                window.dataLayer = window.dataLayer || [];

                function gtag() {
                    dataLayer.push(arguments);
                }

                gtag('js', new Date());
                gtag('config', 'UA-113934665-2');
            </script>
        {% else %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113934665-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];

                function gtag() {
                    dataLayer.push(arguments);
                }

                gtag('js', new Date());
                gtag('config', 'UA-113934665-1');
            </script>
        {% endif %}
    {% endif %}
    <meta charset="utf-8">

    <!-- Making sure the web-site will scale fine on mobiles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Trying to force IE to perform at its best -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Meta description, aim for about 150 characters -->
    <meta name="description"
          content="ZĖNDI is an elegant tool to joyfully exchange Lumen between friends, businesses and websites.">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,700">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Stylesheets of theme -->
    <link rel="stylesheet" href="{% static 'web/theme/textillate/assets/animate.css' %}">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'web/main.css' %}">

    <!-- Favicons -->
    <link rel="icon" sizes="180x180" href="{% static 'web/img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'web/img/favicons/favicon-32x32.png' %}"
          sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'web/img/favicons/favicon-16x16.png' %}"
          sizes="16x16">
    <link rel="manifest" href="{% static 'web/img/favicons/manifest.json' %}">
    <link rel="shortcut icon" href="{% static 'web/img/favicons/favicon.ico' %}">
    <meta name="msapplication-config" content="{% static 'web/img/favicons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- Site title-->
    <title>Zėndi - Exchange Money with Joy!</title>
</head>