{% load static %}


<script src="{% static 'wallet/bundle.js' %}"></script>

<script src="{% static 'wallet/theme/jquery/jquery.js' %}"></script>
<script src="{% static 'wallet/theme/textillate/jquery.textillate.js' %}"></script>
<script src="{% static 'wallet/theme/textillate/assets/jquery.lettering.js' %}"></script>
<script src="{% static 'wallet/theme/textillate/assets/jquery.fittext.js' %}"></script>
<script src="{% static 'wallet/theme/nas/config.js' %}"></script>
<script src="{% static 'wallet/theme/nas/nas.js' %}"></script>
<script src="{% static 'wallet/theme/flat-surface-shader/deploy/fss.js' %}"></script>
<script src="{% static 'wallet/theme/nas/triangles.js' %}"></script>

<!-- Template Dependencies -->
