{% load static %}

<script src="{% static 'web/bundle.js' %}"></script>
<script src="{% static 'web/theme/jquery/jquery.js' %}"></script>
<script src="{% static 'web/theme/textillate/jquery.textillate.js' %}"></script>
<script src="{% static 'web/theme/textillate/assets/jquery.lettering.js' %}"></script>
<script src="{% static 'web/theme/textillate/assets/jquery.fittext.js' %}"></script>
<script src="{% static 'web/theme/nas/config.js' %}"></script>
<script src="{% static 'web/theme/nas/nas.js' %}"></script>
<script src="{% static 'web/theme/flat-surface-shader/deploy/fss.js' %}"></script>
<script src="{% static 'web/theme/nas/triangles.js' %}"></script>
