{% load static %}

<!--suppress HtmlUnknownTarget -->

<div class="navbar-fixed zero-height">
    <nav>
        <div id="navbar" class="nav-wrapper" >
            <div class="left brand-logo hide-on-small-only">
                <a href="/">
                    <img src="{% static 'web/img/logo_white.png' %}" alt="Nav-Logo">
                    <p>Zėndi</p>
                    <p class="appendix">{{ logo_appendix|default:"" }}</p>
                </a>
            </div>
            <div class="hide-on-med-and-up left brand-logo">
                <a href="/">
                    <img src="{% static 'web/img/logo_white.png' %}" alt="Nav-Logo">
                    <span class="appendix">{{ title | default:"Zendi" }}</span>
                </a>
            </div>
            <a href="#" data-activates="mobile-menu" class="right button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down ">
                        <li> <a href="/">Send</a> </li>
                        <li> <a href="/deposit">Deposit</a> </li>
                        <li> <a href="/withdraw">Withdraw</a> </li>
                        <li> <a href="/dashboard">Dashboard</a> </li>
                        {% if user.is_authenticated %}
                            <li> <a href="/logout">Logout</a> </li>
                        {% else %}
                            <li> <a href="/dashboard">Login</a> </li>
                        {% endif %}
                    </ul>
                    <ul>
                    <ul class="side-nav" id="mobile-menu">
                        <li> <a href="/">Send</a> </li>
                        <li> <a href="/deposit">Deposit</a> </li>
                        <li> <a href="/withdraw">Withdraw</a> </li>
                        <li> <a href="/dashboard">Dashboard</a> </li>
                        {% if user.is_authenticated %}
                            <li> <a href="/logout">Logout</a> </li>
                        {% else %}
                            <li> <a href="/dashboard">Login</a> </li>
                        {% endif %}
                    </ul>
                    </ul>
        </div>
    </nav>
</div>