{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'wallet/components/head.html' %}

<body>

<div class="loading-overlay" id="loading-overlay"></div>

<!-- Pace loader-->
<div class="pace" id="pace">
    <div class="pace-activity"></div>
</div>

{% block navbar %}
    {% include 'wallet/components/nav.html' %}
{% endblock %}

<!-- Main content-->
<main class="main" id="main">
    <div class="triangles hero" id="triangles">
        <div id="output"></div>

        {% block content %}{% endblock %}

    </div>
</main>

{% include 'wallet/components/footer.html' %}

{% include 'wallet/components/js.html' %}

</body>
</html>