{% load static %}

<!-- Footer-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col s12 l4 margin-on-medium-and-down">&copy; 1996—2016 Nås</div>
            <div class="col s12 l4 margin-on-medium-and-down">
                <ul>
                    <li>
                        <a class="underline" href="#!">Facebook</a>
                    </li>
                    <li>
                        <a class="underline" href="#!">Twitter</a>
                    </li>
                    <li>
                        <a class="underline" href="#!">VK</a>
                    </li>
                    <li>
                        <a class="underline" href="#!">Github</a>
                    </li>
                </ul>
            </div>
            <div class="col s12 l4 margin-on-medium-and-down">
                <address>B R James, 30 W 47th St
                    <br>New York, NY 10036
                    <br>
                </address>
                <a class="underline" href="https://maps.google.com?daddr=B+R+James+30+W=47th+St+NY+10036" target="_blank">Get directions</a>&nbsp;(opens in new tab).
                <p>
                    <a class="underline" href="mailto:hello@nas.io">hello@nas.io</a>
                    <br>+1-917-643-4346</p>
            </div>
        </div>
    </div>
</footer>