{% load static %}

<!-- Libraries-->
<script src="{% static 'wallet/libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'wallet/libs/materialize/js/materialize.min.js' %}"></script>
<script src="{% static 'wallet/libs/textillate/jquery.textillate.js' %}"></script>
<script src="{% static 'wallet/libs/textillate/assets/jquery.lettering.js' %}"></script>
<script src="{% static 'wallet/libs/textillate/assets/jquery.fittext.js' %}"></script>

<!-- Nas scripts-->
<script src="{% static 'wallet/js/config.js' %}"></script>
<script src="{% static 'wallet/js/nas.js' %}"></script>
<script src="{% static 'wallet/libs/flat-surface-shader/deploy/fss.js' %}"></script>
<script src="{% static 'wallet/js/triangles-i.js' %}"></script>