{% load static %}

<!-- Navigation-->
<div class="navbar-fixed zero-height">
    <nav>
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s12 l6">
                    <div class="brand-logo">Zėndi</div>
                </div>
                <div class="col s12 l6">
                    <ul class="hide-on-med-and-down table-of-contents">
                        <li>
                            <a href="#cases">Send</a>
                        </li>
                        <li>
                            <a href="#services">Withdraw</a>
                        </li>
                        <li>
                            <a href="#stories">Deposit</a>
                        </li>
                        <li>
                            <a href="#contact">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>