{% load static %}
{% load wallet_extras %}

<ul class="collapsible collapsible-accordion transactions" data-collapsible="accordion">

    {% if transactions %}
        {% for transaction in transactions %}

            <li class="transaction">
                <div class="collapsible-header row">
                    <div class="col s1 icon">
                        <i class="material-icons">
                            {% if transaction.direction == 'neutral' %}
                                remove
                            {% elif transaction.direction == 'in_going' %}
                                call_received
                            {% elif transaction.direction == 'out_going' %}
                                call_made
                            {% endif %}
                        </i>
                    </div>
                    <div class="col s4">
                    <span>
                        {# display proper address or mail based on direction of transaction #}
                        {% if transaction.direction == 'in_going' %}
                            {% if transaction.sender %}
                                {{ transaction.sender.email }}
                            {% else %}
                                {{ transaction.sender_address|truncatechars:20 }}
                            {% endif %}
                        {% else %}
                            {% if transaction.receiver %}
                                {{ transaction.receiver.email }}
                            {% else %}
                                {{ transaction.receiver_address|truncatechars:20 }}
                            {% endif %}
                        {% endif %}
                    </span>
                    </div>
                    <div class="col s3">{{ transaction.execution_time }}</div>
                    <div class="col s2">{{ transaction.value|iota_display_format }}</div>
                    <div class="col s2 left-align">
                        {% if transaction.is_confirmed %}
                            <span class="new badge green"
                                  data-badge-caption="">Complete</span>
                        {% else %}
                            <span class="new badge blue" data-badge-caption="">Unconfirmed</span>
                        {% endif %}
                    </div>
                </div>
                <div class="collapsible-body row" style="display: none;">
                    <div class="col s4 ">
                        {% if transaction.direction == 'in_going' %}
                            From address:&nbsp;
                            <br>
                            <a href="{{ transaction.sender_address|iota_hash_info_url }}" target="_blank">
                                {{ transaction.sender_address|truncatechars:30 }}
                            </a>
                            <br>
                            {% if transaction.sender %}
                                <span>({{ transaction.sender.email }})</span>
                            {% endif %}
                        {% else %}
                            To address:
                            <br>
                            <a href="{{ transaction.receiver_address|iota_hash_info_url }}" target="_blank">
                                {{ transaction.receiver_address|truncatechars:30 }}
                            </a>
                            <br>
                            {% if transaction.receiver %}
                                <span>({{ transaction.receiver.email }})</span>
                            {% endif %}
                        {% endif %}

                    </div>
                    <div class="col s4 ">
                        Bundle:<br>
                        <a href="{{ transaction.bundle_hash|iota_hash_info_url }}" target="_blank">
                            {{ transaction.bundle_hash|truncatechars:30 }}
                        </a>
                    </div>
                    <div class="col s4">
                        Transaction:<br>
                        <a href="{{ transaction.transaction_hash|iota_hash_info_url }}" target="_blank">
                            {{ transaction.transaction_hash|truncatechars:30 }}
                        </a>
                    </div>
                </div>
            </li>

        {% endfor %}
    {% else %}
        <div class="no-transactions">
            <p>No transactions found</p>
        </div>
    {% endif %}
</ul>